client/learn/node_modules
server/node_modules

.env


server/keyserver/key/*.json
server/key/*.json
server/key/*.json


node_modules/
.env
build/
dist/


# Firebase / secrets
*.json
server/key/
.env

key/
*.json
.env
